.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{
    padding: 9px 0 0 10px;
    display: flex;
}

.dialogsItems .active {
    color: gold;
}

.messages{
    padding: 10px;
}

.messages .message{

}